body {
    text-align: center;
    font-size: 16px;
    background-color: #dfd9c8;
    color: #554348;
    font-family: "Lato", sans-serif;


}

h1 {
  font-family: "Baloo Chettan", Helvetica, sans-serif;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 16px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-panel {
  width: 300px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

 .moves-container, .collisions-container {
  margin-right: 10px;
}


/* styles for Congratulations modal */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 75%;
  background-color: #dfd9c8;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  text-align: center;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;

}

.popup .content h2 {
  font-size: 24px;
  align-items: center;
  margin-bottom: 24px;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}


.play-again {
  background-color: #554348;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: auto;
  width: 20%;
  text-align: center;
  color: #dfd9c8;
  border-radius: 5px;
  cursor: pointer;
}
